@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap");

/* MEDIA QUERIES*/

@media (min-width: 250px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}

/* GENERAL */

body {
	font-family: "Raleway", sans-serif;
	margin: 0;
	border: 0;
}

/* HEADER SECTION */

#diversify-print-logo {
	width: 8rem;
}

.nav-item {
	font-size: 1.25rem;
	margin: 1rem;
}

.navbar {
	border-bottom: 1px solid purple;
}

/* HERO SECTION */

#section-hero {
	margin-top: 3rem;
}

#hero-card-1 {
	/* width: 35%; */
	border: none;
}

#hero-card-1 .card-title {
	font-size: 2rem;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
	background-color: #8064a2 !important;
	border: none;
}

#hero-card-2 {
	/* background-color: lightgray; */
	border: none;
}

#hero-card-2 img {
	width: 100%;
}

/* CAROUSEL SECTION */

#section-carousel {
	background-color: lightgray;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	color: black;
}

#carousel-card {
	border: none;
	/* background-color: lightgoldenrodyellow; */
}

#carousel-card .card-title {
	font-size: 2rem;
}

.fa-chevron-left {
	color: black;
	font-size: 3rem;
}

.fa-chevron-right {
	color: black;
	font-size: 3rem;
}

/* X SECTION */

/* X SECTION */

footer {
	margin: 3rem;
	text-align: center;
}
